/* Global */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

body {
    background-color: #e6e6e6;
    color: #272343;
}

/* Header */
header {
    display: flex;
    flex-direction: column;
}

.menu {
    display: flex;
    justify-content: space-between;
    padding: 0px 5%;
    height: 85px;
    align-items: center;
}

.menu-lado-esquerdo {
    display: flex;
    gap: 50px;
    font-weight: bold;
}

.logo img {
    width: 50px;
    height: 50px;
}

nav ul li {
    display: inline-block;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #272343;
}

.menu-lado-direito {
    display: flex;
    align-items: center;
}

.icon-avatar img {
    width: 40px;
    height: 40px;
    border-radius: 10px;
    margin-left: 10px;
}

.icon-bolsa img {
    width: 30px;
    height: 30px;
}

.line {
    height: 1px;
    background-color: #272343;
    width: 90%;
    align-self: center;
}


/* Main */
.conteiner {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: calc(100vh - 85px);
    gap: 100px;

}

.lado-esquerdo {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.items {
    align-self: flex-end;
}

.img-small img {
    width: 90px;
    height: 90px;
    border-radius: 10px;
}

.img-big {
    max-width: 400px;
}

.img-big img {
    width: 100%;
    border-radius: 10px;
}

.img-smalls {
    display: flex;
    justify-content: space-evenly;
    max-width: 400px;
    gap: 10px;
}

.img-small {
    width: 100%;
}

.content {
    max-width: 400px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.lado-direito {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.lado-direito h6 {
    font-size: 12px;
}

.lado-direito h1 {
    color: #272343;
}

.lado-direito p {
    font-size: 14px;
}

.price {
    color: #272343;
    font-size: 20px;
    font-weight: bold;
}

.off {
    color: #b6b6b6;
    font-size: 14px;
    font-weight: bold;
    text-decoration: line-through;
    margin-top: -15px;
}

.options {
    display: flex;
    gap: 30px;
}

.amount {
    display: flex;
    align-items: center;
    gap: 30px;
    background-color: #b6b6b6;
    width: fit-content;
    padding: 10px 20px;
    border-radius: 10px;
    /* height: 26px; */
}

.amount span {
    color: #272343;
    font-weight: bold;
}

.minus,
.plus {
    cursor: pointer;
}

.minus img,
.plus img {
    height: 18px;
    width: 18px;
}

.cart img {
    height: 26px;
    width: 26px;
}

.button {
    display: inline-block;
    display: flex;
    text-decoration: none;
    align-items: center;
    color: #272343;
    background-color: #ffd803;
    padding: 10px 40px;
    border-radius: 10px;
    font-weight: bold;
    width: fit-content;
}

.button:hover {
    background-color: #ecc901;
}



/* Footer */